{% extends 'base.html' %}
{% load static %}





{% block content %}

         <div id="app">



        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'user_profile' %}">Мой Профиль</a></li>
                                    <li class="is-marked">

                                        <a href="#">Мои способы оплаты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">Проводятся технические работы</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->

                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->



        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
    </div>


{% endblock %}