{% extends 'base.html' %}
{% load static %}
{% block title %}Возврат товара и Возврат денежных средств {% endblock %}




{% block content %}

         <div id="app">




                <!--====== Section Content ======-->

            <!--====== End - Section 1 ======-->


            <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'user_profile' %}">Мой Профиль</a></li>
                                    <li class="is-marked">

                                        <a href="#">Возврат товара и Возврат денежных средств</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq">
                                    <h3 class="faq__heading">Правила возврата товаров</h3>
                                    <h3 class="faq__heading">Возврат товара надлежащего качества</h3>
                                    <h4 class="faq__heading">Срок возврата товара</h4>
                                    <p class="faq__text">

                                        Срок возврата товара надлежащего качества составляет 21 день с момента получения товара, если иное не было оговорено при продаже товара.

                                        Причинами для возврата товара со стороны Покупателя могут быть следующие:

                                        Не подошел размер, фасон, цвет, длина и т.п.

                                        Оттенок полученного товара отличается от оттенка модели с фотографии на сайте.

                                    </p>
                                    <h4 class="faq__heading">Срок возврата товара</h4>
                                    <p class="faq__text">Возврат в фирменные пункты выдачи/возврата Lam shop.

Вызов курьера Lam shop (услуга предоставляется жителям городов, где есть курьерская доставка). </p>
                                    <h4 class="faq__heading">1. Самостоятельный возврат</h4>
                                    <p class="faq__text">Покупатель может самостоятельно вернуть не подошедший товар в наши фирменные пункты выдачи/возврата.</p>

                                    <h4 class="faq__heading">2. Возврат курьером</h4>
                                    <p class="faq__text"> Услуга доступна для населенных пунктов, куда осуществляется доставка курьером.

На один день возможно оформить на возврат с помощью курьера не более 10 позиций. Количество товаров для возврата в пунктах выдачи не ограничено.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq-accordion-group">
                                    <div class="faq__list">

                                        <a class="faq__question collapsed" href="#faq-1" data-toggle="collapse">Возврат товара ненадлежащего качества</a>
                                        <div class="faq__answer collapse" id="faq-1" data-parent="#faq-accordion-group">
                                            <h3 class="faq__heading">Срок возврата товара</h3>
                                            <p class="faq__text">
                                                Причиной для возврата товара со стороны Покупателя может быть производственный недостаток (брак) товара. Покупатель может обратиться с требованием о возврате такого товара в течение гарантийного срока, установленного производителем. Если гарантийный срок на товар производителем не установлен, срок для возврата такого товара составляет 2 (два) года.
                                            </p>
                                            <h3 class="faq__heading">Возврат товара ненадлежащего качества осуществляется следующим способом:</h3>
                                            <p class="faq__text">
                                                Возврат товара осуществляется посредством оформления заявки в Личном кабинете.

Срок рассмотрения заявки не превышает 7 (семь) рабочих дней.

В случае, если по результату рассмотрения заявки Продавцом принято положительное решение, покупатель может передать товар для возврата в Пункт выдачи заказов Lam shop.

В случае отклонения заявки, покупатель вправе обратиться в независимую экспертизу. В случае, если независимой экспертизой будет подтверждено право покупателя на возврат товара, все расходы покупателя, связанные с проведением независимой экспертизы подлежат возмещению Продавцом.


                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq__list">

                                        <a class="faq__question collapsed" href="#faq-2" data-toggle="collapse">Возврат денежных средств</a>
                                        <div class="faq__answer collapse" id="faq-2" data-parent="#faq-accordion-group">
                                            <p class="faq__text">Возврат денежных средств Покупателю Вайлдберриз осуществляется следующими способами:</p>
                                        </div>
                                    </div>
                                    <div class="faq__list">

                                        <a class="faq__question collapsed" href="#faq-3" data-toggle="collapse">Безналичный расчет</a>
                                        <div class="faq__answer collapse" id="faq-3" data-parent="#faq-accordion-group">
                                            <p class="faq__text">При отказе Покупателя от товара, который был оплачен онлайн банковской картой, денежные средства за него будут автоматически возвращены на банковскую карту, с которой указанный товар был оплачен.

После этого срок зачисления денежных средств на Ваш банковский счет будет зависеть от условий банка, в котором он открыт.</p>
                                            <h3 class="faq__heading">Оформление возврата денежных средств на реквизиты.</h3>
                                            <p class="faq__text">Для оформления возврата денежных средств на реквизиты необходимо направить обращение в раздел ЛК «Обращения» и добавить реквизиты своего расчётного счета в раздел «Личные данные» «Реквизиты».

Перечисление денежных средств может занять до 10 календарных дней.</p>
                                        </div>
                                    </div>
                                    <div class="faq__list">

                                        <a class="faq__question collapsed" href="#faq-4" data-toggle="collapse">Кредит или рассрочка</a>
                                        <div class="faq__answer collapse" id="faq-4" data-parent="#faq-accordion-group">
                                            <p class="faq__text">При отказе Покупателя от товара надлежащего качества, приобретенного посредством выбора оплаты в рассрочку или в кредит с привлечением средств кредитной организации (Банка), возврату подлежит сумма в размере стоимости товара, за исключением расходов Вайлдберриз на доставку от Покупателя возвращенного товара.

Возврат денежных средств производится на кредитный банковский счет Покупателя. Выплата процентов и иных платежей по договору кредита, заключенного Покупателем с кредитной организацией (Банком) указанным способом, Покупателю не компенсируются. Все обязательства перед кредитной организацией покупатель несёт самостоятельно.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->
        </div>



        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
    </div>


{% endblock %}