{% extends 'base.html' %}
{% load static %}


{% block title %} Мой Профиль {% endblock %}

{% block content %}

    <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'index' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">Мой Профиль</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    {% include 'profile/user_panel.html' %}
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">{{ shop.count }}</span>

                                                        <span class="dash__w-name">количество товаров в корзине</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text">{{ product }}</span>

                                                        <span class="dash__w-name">Список желаний</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Мой Профиль</h1>

                                            <span class="dash__text u-s-m-b-30">Посмотрите всю вашу информацию, вы можете настроить свой профиль.</span>
                                            <div class="row">
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Полное имя</h2>

                                                    <span class="dash__text">{{ user.first_name}} {{ user.last_name}}</span>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>

                                                    <span class="dash__text">{{ profile.user.email}}</span>
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="{% url 'user_update' %}">Change</a></div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Телефон</h2>

                                                    <span class="dash__text">{{ profile.phone}}</span>
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="{% url 'user_update' %}">Add</a></div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Страна</h2>

                                                    <span class="dash__text">{{ profile.country }}</span>
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="{% url 'user_update' %}">Add</a></div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Город</h2>

                                                    <span class="dash__text">{{ profile.city }}</span>
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="{% url 'user_update' %}">Add</a></div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Адрес</h2>

                                                    <span class="dash__text">{{ profile.address }}</span>
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="{% url 'user_update' %}">Add</a></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="dash__link dash__link--secondary u-s-m-b-30">

                                                        </div>
                                                    <div class="u-s-m-b-16">

                                                        <a class="dash__custom-link btn--e-transparent-brand-b-2" href="{% url 'user_update' %}">Редактировать профиль</a></div>
                                                    <div>

                                                        <a class="dash__custom-link btn--e-brand-b-2" href="{% url 'user_password' %}">Поменять пароль</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>







{% endblock %}