{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}
{% load currency %}

{% block title %}

    Nikita

{% endblock %}

{% block content %}
        <div class="app-content">


            {% if sliders %}

                <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-grey">
                    <div class="owl-carousel primary-style-1" id="hero-slider">


                      {% for slider in sliders %}
                          <a href="/category/{{ slider.categories.id  }}/">
                            <div class="hero-slide hero-slide--1" style="background-image: url({{ slider.image.url }})">

                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content slider-content--animation">

{#                                            <span class="content-span-1 u-c-secondary">{{ slider.title }}</span>#}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          </a>
                      {% endfor %}

                    </div>
                </div>


            {% else %}

                    <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-grey">
                    <div class="owl-carousel primary-style-1" id="hero-slider">
                        <div class="hero-slide hero-slide--1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content slider-content--animation">

                                            <span class="content-span-1 u-c-secondary">Latest Update Stock</span>

                                            <span class="content-span-2 u-c-secondary">30% Off On Electronics</span>

                                            <span class="content-span-3 u-c-secondary">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                            <span class="content-span-4 u-c-secondary">Starting At

                                                <span class="u-c-brand">$1050.00</span></span>

                                            <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide hero-slide--2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content slider-content--animation">

                                            <span class="content-span-1 u-c-white">Find Top Brands</span>

                                            <span class="content-span-2 u-c-white">10% Off On Electronics</span>

                                            <span class="content-span-3 u-c-white">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                            <span class="content-span-4 u-c-white">Starting At

                                                <span class="u-c-brand">$380.00</span></span>

                                            <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide hero-slide--3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content slider-content--animation">

                                            <span class="content-span-1 u-c-secondary">Find Top Brands</span>

                                            <span class="content-span-2 u-c-secondary">10% Off On Electronics</span>

                                            <span class="content-span-3 u-c-secondary">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                            <span class="content-span-4 u-c-secondary">Starting At

                                                <span class="u-c-brand">$550.00</span></span>

                                            <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            {% endif %}




            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-5">{% trans 'Успей купить!' %}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
{#                            {% for ba in banner %}#}
{#                                {% if ba.image %}#}
{#                                    <div class="col-lg-4 col-md-5 u-s-m-b-30">#}
{#                                <a class="collection" href="brand/{{ ba.id }}">#}
{#                                    <div class="aspect aspect--bg-grey aspect--square">#}
{##}
{#                                        <img class="aspect__img collection__img" src="{{ ba.image.url }}" alt=""></div>#}
{#                                </a>#}
{#                            </div>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}

                        </div>
                    </div>
                </div>

                <!--====== Section Content ======-->
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-16">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">{% trans 'Новинки' %}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="filter__grid-wrapper u-s-m-t-30">
                                    <div class="row">

                                    {% if LANGUAGE_CODE == 'en' %}
                                        {% for pro in product_en %}
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item headphone">
                                            <div class="product-o product-o--hover-on product-o--radius">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'detail' pro.product.id %}">

                                                        <img class="aspect__img" src="{{ pro.product.image.url }}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a href="{% url 'detail' pro.product.id %}"  title="просмотр"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                {% if pro.variant != 'None' %}

                                                                {% else %}

                                                                    <a href="{% url 'addtoshopcart' pro.product.id %}" data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Добавить в корзину"><i class="fas fa-plus-circle"></i></a></li>
                                                                {% endif %}
                                                            <li>
{#                                                                    {% if fav  %}#}
{#                                                                        <a href="{% url 'favourite_add' pro.id %}" data-tooltip="tooltip" data-placement="top" title="удалите из списка желаний "  data-id="{{ pro.id }}"><i class="fas fa-heart"></i></a>#}
{#                                                                    {% else %}#}
{#                                                                        <a href="{% url 'favourite_add' pro.id %}" data-tooltip="tooltip" data-placement="top" title="Добавить в список желаний " data-id="{{ pro.id }}"><i class="fas fa-heart"></i></a>#}
{#                                                                    {% endif %}#}
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="/brand/{{ pro.product.brand.id }}">{{ pro.product.brand }}</a></span>

                                                <span class="product-o__name">

                                                    <a href="{% url 'detail' pro.product.id %}">{{ pro.title|truncatewords:1 }}</a></span>
                                                <div class="product-o__rating gl-rating-style">
                                                    <i class="far fa-star{% if pro.product.avaregereview > 0 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.product.avaregereview > 1 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.product.avaregereview > 2 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.product.avaregereview > 3 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.product.avaregereview > 4 %} fas fa-star{% endif %}"></i>

                                                    <span class="product-o__review">({{ pro.product.avaregereview|truncatechars:4}})</span></div>


                                                <span class="product-o__price">{{ pro.product.price|currency:request.session.currency }} {{ request.session.currency }}

                                                    {% if pro.product.old_price %}
                                                        <span class="product-o__discount">{{ pro.product.old_price|currency:request.session.currency  }} {{ request.session.currency }}</span></span>
                                                    {% endif %}
                                            </div>
                                        </div>
                                       {% endfor %}


                                    {% else %}


                                       {% for pro in product %}
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item headphone">
                                            <div class="product-o product-o--hover-on product-o--radius">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'detail' pro.id %}">

                                                        <img class="aspect__img" src="{{ pro.image.url }}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a href="{% url 'detail' pro.id %}"  title="просмотр"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>
                                                                {% if pro.variant != 'None' %}

                                                                {% else %}
                                                                    <a href="{% url 'addtoshopcart' pro.id %}" data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Добавить в корзину"><i class="fas fa-plus-circle"></i></a></li>
                                                                {% endif %}
                                                            <li>
{#                                                                    {% if fav  %}#}
{#                                                                        <a href="{% url 'favourite_add' pro.id %}" data-tooltip="tooltip" data-placement="top" title="удалите из списка желаний "  data-id="{{ pro.id }}"><i class="fas fa-heart"></i></a>#}
{#                                                                    {% else %}#}
{#                                                                        <a href="{% url 'favourite_add' pro.id %}" data-tooltip="tooltip" data-placement="top" title="Добавить в список желаний " data-id="{{ pro.id }}"><i class="fas fa-heart"></i></a>#}
{#                                                                    {% endif %}#}
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="/brand/{{ pro.brand.id }}">{{ pro.brand }}</a></span>

                                                <span class="product-o__name">

                                                    <a href="{% url 'detail' pro.id %}">{{ pro.title|truncatewords:1 }}</a></span>
                                                <div class="product-o__rating gl-rating-style">
                                                    <i class="far fa-star{% if pro.avaregereview > 0 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 1 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 2 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 3 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 4 %} fas fa-star{% endif %}"></i>

                                                    <span class="product-o__review">({{ pro.avaregereview|truncatechars:4}})</span></div>


                                                <span class="product-o__price">{{ pro.price|currency:request.session.currency  }} {{ request.session.currency }}

                                                    {% if pro.old_price %}
                                                        <span class="product-o__discount">{{ pro.old_price|currency:request.session.currency   }} {{ request.session.currency }}</span></span>
                                                    {% endif %}
                                            </div>
                                        </div>
                                       {% endfor %}

                                    {% endif %}



                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="load-more">
{#                                    <button class="btn btn--e-brand" type="button">{% trans 'Загрузить больше' %}</button>#}
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->




            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">{% trans 'Акции' %}</h1>

                                    <span class="section__span u-c-silver">{% trans 'Выгодные предложения.' %}</span>

                                    <span class="section__span u-c-silver">{% trans 'Успей купить!' %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            {% if stock %}
                                {% for st in stock %}
                                     <div class="col-lg-6 col-md-6 u-s-m-b-30">
                                        <div class="product-o product-o--radius product-o--hover-off u-h-100">
                                    <div class="product-o__wrap">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                            <img class="aspect__img" src="{{ st.product.image.url }}" alt=""></a>
                                        <div class="product-o__special-count-wrap">
                                            <div class="countdown countdown--style-special" data-countdown="{{ st.data.year }}/{{ st.data.month }}/{{ st.data.day }}"></div>
                                        </div>
                                        <div class="product-o__action-wrap">
                                            <ul class="product-o__action-list">
                                                <li>

                                                    <a data-modal="modal" href="{% url 'detail' st.id %}" data-tooltip="tooltip" data-placement="top" title="просмотр"><i class="fas fa-search-plus"></i></a></li>


                                            </ul>
                                        </div>
                                    </div>

                                    <span class="product-o__category">

                                        <a href="shop-side-version-2.html">{{ st.product.brand }}</a></span>

                                    <span class="product-o__name">

                                        <a href="product-detail.html">{{ st.product.title }}</a></span>
                                    <div class="product-o__rating gl-rating-style">
                                        <i class="far fa-star{% if st.product.avaregereview > 0 %} fas fa-star{% endif %}"></i>
                                        <i class="far fa-star{% if st.product.avaregereview > 1 %} fas fa-star{% endif %}"></i>
                                        <i class="far fa-star{% if st.product.avaregereview > 2 %} fas fa-star{% endif %}"></i>
                                        <i class="far fa-star{% if st.product.avaregereview > 3 %} fas fa-star{% endif %}"></i>
                                        <i class="far fa-star{% if st.product.avaregereview > 4 %} fas fa-star{% endif %}"></i>

                                        <span class="product-o__review">({{ st.product.avaregereview|truncatechars:4}})</span></div>

                                    <span class="product-o__price">{{ st.product.price|currency:request.session.currency  }} {{ request.session.currency }}
                                        {% if st.product.old_price %}
                                            <span class="product-o__discount">{{ st.product.old_price|currency:request.session.currency  }} {{ request.session.currency }}</span>
                                        {% endif %}
                                    </span>
                                </div>
                                    </div>
                                {% endfor %}
                            {% else %}

                                <div class="col-lg-6 col-md-6 u-s-m-b-30">
                                <div class="product-o product-o--radius product-o--hover-off u-h-100">
                                    <div class="product-o__wrap">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                            <img class="aspect__img" src="{% static '' %}images/product/electronic/product12.jpg" alt=""></a>
                                        <div class="product-o__special-count-wrap">
                                            <div class="countdown countdown--style-special" data-countdown="2020/05/01"></div>
                                        </div>
                                        <div class="product-o__action-wrap">
                                            <ul class="product-o__action-list">
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>

                                            </ul>
                                        </div>
                                    </div>

                                    <span class="product-o__category">

                                        <a href="shop-side-version-2.html">Electronics</a></span>

                                    <span class="product-o__name">

                                        <a href="product-detail.html">DJI Phantom Drone 2k</a></span>
                                    <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                        <span class="product-o__review">(2)</span></div>

                                    <span class="product-o__price">$125.00

                                        <span class="product-o__discount">$160.00</span></span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->


            <!--====== Section 4 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">{% trans 'Хиты продаж' %}</h1>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <div class="owl-carousel product-slider" data-item="4">
                                {% if LANGUAGE_CODE == 'en' %}
                                        <h1>En</h1>



                                {% else %}

                               {% for pro in product_hit %}
                                    <div class="u-s-m-b-30">
                                        <div class="product-o product-o--hover-on">
                                            <div class="product-o__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'detail' pro.id %}">

                                                    <img class="aspect__img" src="{{ pro.image.url }}" alt=""></a>
                                                <div class="product-o__action-wrap">
                                                    <ul class="product-o__action-list">
                                                        <li>

                                                            <a href="{% url 'detail' pro.id %}" title="просмотр"><i class="fas fa-search-plus"></i></a></li>
                                                        <li>
                                                            {% if pro.variant != 'None' %}

                                                            {% else %}

                                                                <a href="{% url 'addtoshopcart' pro.id %}" data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Добавить в корзину"><i class="fas fa-plus-circle"></i></a></li>
                                                            {% endif %}
                                                        <li>

    {#                                                        {% if fav %}#}
    {#                                                            <a href="{% url 'favourite_add' pro.id %}" data-tooltip="tooltip" data-placement="top" title="удалите из списка желаний "><i class="fas fa-heart"></i></a></li>#}
    {#                                                        {% else %}#}
    {#                                                            <a href="{% url 'favourite_add' pro.id %}" data-tooltip="tooltip" data-placement="top" title="Добавить в список желаний"><i class="fas fa-heart"></i></a></li>#}
    {#                                                        {% endif %}#}

                                                    </ul>
                                                </div>
                                            </div>

                                            <span class="product-o__category">

                                                <a href="/brand/{{ pro.brand.id }}">{{ pro.brand }}</a></span>

                                            <span class="product-o__name">

                                                <a href="{% url 'detail' pro.id %}">{{ pro.title|truncatewords:1 }}</a></span>
                                            <div class="product-o__rating gl-rating-style">
                                                <i class="far fa-star{% if pro.avaregereview > 0 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 1 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 2 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 3 %} fas fa-star{% endif %}"></i>
                                                    <i class="far fa-star{% if pro.avaregereview > 4 %} fas fa-star{% endif %}"></i>

                                                    <span class="product-o__review">({{ pro.avaregereview|truncatechars:4}})</span></div>

                                            <span class="product-o__price">{{ pro.price|currency:request.session.currency  }}  {{ request.session.currency }}
                                                {% if pro.old_price %}
                                                    <span class="product-o__discount">{{ pro.old_price|currency:request.session.currency  }} {{ request.session.currency }}</span></span>
                                                {% endif %}
                                        </div>
                                    </div>
                              {% endfor %}

                                {% endif %}


                            </div>

                        </div>

                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 4 ======-->


            <!--====== Section 5 ======-->
{#            <div class="banner-bg">#}
{##}
{#                <!--====== Section Content ======-->#}
{#                <div class="section__content">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-lg-12">#}
{#                                <div class="banner-bg__countdown">#}
{#                                    <div class="countdown countdown--style-banner" data-countdown="2020/05/01"></div>#}
{#                                </div>#}
{#                                <div class="banner-bg__wrap">#}
{#                                    <div class="banner-bg__text-1">#}
{##}
{#                                        <span class="u-c-white">Global</span>#}
{##}
{#                                        <span class="u-c-secondary">Offers</span></div>#}
{#                                    <div class="banner-bg__text-2">#}
{##}
{#                                        <span class="u-c-secondary">Official Launch</span>#}
{##}
{#                                        <span class="u-c-white">Don't Miss!</span></div>#}
{##}
{#                                    <span class="banner-bg__text-block banner-bg__text-3 u-c-secondary">Enjoy Free Shipping when you buy 2 items and above!</span>#}
{##}
{#                                    <a class="banner-bg__shop-now btn--e-secondary" href="shop-side-version-2.html">Shop Now</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!--====== End - Section Content ======-->#}
{#            </div>#}
            <!--====== End - Section 5 ======-->


            <!--====== Section 6 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">{% trans 'Купить товары серии random' %}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            {% if LANGUAGE_CODE == 'en' %}


                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="product-o product-o--hover-on u-h-100">
                                    <div class="product-o__wrap">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                            <img class="aspect__img" src="{% static '' %}images/product/electronic/product19.jpg" alt=""></a>
                                        <div class="product-o__action-wrap">
                                            <ul class="product-o__action-list">
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>

                                            </ul>
                                        </div>
                                    </div>

                                    <span class="product-o__category">

                                        <a href="shop-side-version-2.html">Electronics</a></span>

                                    <span class="product-o__name">

                                        <a href="product-detail.html">Tablet 14inch Screen</a></span>
                                    <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                        <span class="product-o__review">(23)</span></div>

                                    <span class="product-o__price">$125.00

                                        <span class="product-o__discount">$160.00</span></span>
                                </div>
                            </div>

                            {% else %}
                               {% for random in product_random %}
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                    <div class="product-o product-o--hover-on u-h-100">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'detail' random.id %}">

                                                <img class="aspect__img" src="{{ random.image.url }}" alt="">
                                            </a>

                                        </div>

                                        <span class="product-o__category">

                                            <a href="{% url 'brand' random.brand.id %}">{{ random.brand.title }}</a></span>

                                        <span class="product-o__name">

                                            <a href="{% url 'detail' random.id %}">{{ random.title|truncatewords:1  }}</a></span>
                                        <div class="product-o__rating gl-rating-style">
                                            <i class="far fa-star{% if random.avaregereview > 0 %} fas fa-star{% endif %}"></i>
                                            <i class="far fa-star{% if random.avaregereview > 1 %} fas fa-star{% endif %}"></i>
                                            <i class="far fa-star{% if random.avaregereview > 2 %} fas fa-star{% endif %}"></i>
                                            <i class="far fa-star{% if random.avaregereview > 3 %} fas fa-star{% endif %}"></i>
                                            <i class="far fa-star{% if random.avaregereview > 4 %} fas fa-star{% endif %}"></i>

                                            <span class="product-o__review">({{ random.avaregereview|truncatechars:4}})</span></div>

                                        <span class="product-o__price">{{ random.price|currency:request.session.currency  }} {{ request.session.currency }}

                                            {% if random.old_price %}
                                                        <span class="product-o__discount">{{ random.old_price|currency:request.session.currency   }} {{ request.session.currency }}</span></span>
                                            {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 6 ======-->




            <!--====== Section 8 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="column-product">

                                    <span class="column-product__title u-c-secondary u-s-m-b-25">{% trans 'Популярное' %}</span>
                                    <ul class="column-product__list">
                                        {% for pro in product_popular %}
                                            <li class="column-product__item">
                                                <div class="product-l">
                                                    <div class="product-l__img-wrap">

                                                        <a class="aspect aspect--bg-grey aspect--square u-d-block product-l__link" href="{% url 'detail' pro.id %}">

                                                            <img class="aspect__img" src="{{ pro.image.url }}" alt=""></a></div>
                                                    <div class="product-l__info-wrap">

                                                        <span class="product-l__category">

                                                            <a href="{% url 'brand' pro.brand.id %}">{{ pro.brand }}</a></span>

                                                        <span class="product-l__name">

                                                            <a href="{% url 'detail' pro.id %}">{{ pro.title|truncatewords:1 }}</a></span>

                                                        <span class="product-l__price">{{ pro.price|currency:request.session.currency  }} {{ request.session.currency }}</span></div>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="column-product">

                                    <span class="column-product__title u-c-secondary u-s-m-b-25">{% trans 'Топ-скидки' %}</span>
                                    <ul class="column-product__list">
                                        {% for stock in top_discounts %}
                                            <li class="column-product__item">
                                                <div class="product-l">
                                                    <div class="product-l__img-wrap">

                                                        <a class="aspect aspect--bg-grey aspect--square u-d-block product-l__link" href="{% url 'detail' stock.product.id %}">

                                                            <img class="aspect__img" src="{{ stock.product.image.url }}" alt=""></a></div>
                                                    <div class="product-l__info-wrap">

                                                        <span class="product-l__category">

                                                            <a href="{% url 'brand' stock.product.brand.id  %}">{{ stock.product.brand }}</a></span>

                                                        <span class="product-l__name">

                                                            <a href="{% url 'detail' stock.product.id %}">{{ stock.product.title|truncatewords:1 }}</a></span>

                                                        <span class="product-l__price">{{ stock.product.price|currency:request.session.currency  }} {{ request.session.currency }}

                                                            {% if stock.product.old_price %}
                                                                <span class="product-l__discount">{{ stock.product.old_price|currency:request.session.currency   }} {{ request.session.currency }}</span></span>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="column-product">

                                    <span class="column-product__title u-c-secondary u-s-m-b-25">{% trans 'Новинки' %}</span>
                                    <ul class="column-product__list">
                                        {% for pro in product_new %}
                                            <li class="column-product__item">
                                                <div class="product-l">
                                                    <div class="product-l__img-wrap">

                                                        <a class="aspect aspect--bg-grey aspect--square u-d-block product-l__link" href="{% url 'detail' pro.id %}">

                                                            <img class="aspect__img" src="{{ pro.image.url }}" alt=""></a></div>
                                                    <div class="product-l__info-wrap">
                                                        <div class="product-l__rating gl-rating-style">
                                                            <i class="far fa-star{% if pro.avaregereview > 0 %} fas fa-star{% endif %}"></i>
                                                            <i class="far fa-star{% if pro.avaregereview > 1 %} fas fa-star{% endif %}"></i>
                                                            <i class="far fa-star{% if pro.avaregereview > 2 %} fas fa-star{% endif %}"></i>
                                                            <i class="far fa-star{% if pro.avaregereview > 3 %} fas fa-star{% endif %}"></i>
                                                            <i class="far fa-star{% if pro.avaregereview > 4 %} fas fa-star{% endif %}"></i>
                                                        </div>

                                                        <span class="product-l__category">

                                                            <a href="{% url 'brand' pro.brand.id %}">{{ pro.brand }}</a></span>

                                                        <span class="product-l__name">

                                                            <a href="{% url 'detail' pro.id %}">{{ pro.title|truncatewords:1 }}</a></span>

                                                        <span class="product-l__price">{{ pro.price|currency:request.session.currency  }} {{ request.session.currency }}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 8 ======-->


            <!--====== Section 9 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-truck"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">{% trans 'Бесплатная доставка' %}</span>

                                        <span class="service__info-text-2">{% trans 'Бесплатная доставка при любом заказе выше 200 долларов США ' %}</span></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-redo"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">{% trans 'Делайте покупки с уверенностью' %}</span>

                                        <span class="service__info-text-2">{% trans 'Наша защита распространяется на вашу покупку от клика до доставки' %}</span></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-headphones-alt"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">{% trans 'Центр помощи' %}</span>

                                        <span class="service__info-text-2">{% trans 'Круглосуточная помощь для комфортного шоппинга' %}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 9 ======-->




            <!--====== Section 11 ======-->
            <div class="u-s-p-b-90 u-s-m-b-30">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">{% trans 'Популярные бренды' %}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">

                        <!--====== Testimonial Slider ======-->
                        <div class="slider-fouc">
                            <div class="owl-carousel" id="testimonial-slider">
                                {% for brand in brand_top %}
                                    <a href="{% url 'brand' brand.id %}">

                                    <div class="testimonial">
                                    <div class="testimonial__img-wrap">

                                        {% if brand.image %}

                                            <img class="testimonial__img" src="{{ brand.image.url }}" alt="">
                                        {% else %}
                                            <img class="testimonial__img" src="{% static '' %}images/about/test-1.jpg" alt="">
                                        {% endif %}

                                    </div>
                                    <div class="testimonial__content-wrap">


                                        <span class="testimonial__author">{{ brand.title }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                    </a>

                            </div>
                        </div>
                        <!--====== End - Testimonial Slider ======-->
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 11 ======-->


            <!--====== Section 12 ======-->

            <!--====== End - Section 12 ======-->
        </div>
        </div>

{% endblock %}